@import url('variables.css');

.selector-proyectos{
    padding: 16px;
    background-color: var(--fondo-componente);
    margin: 0.5rem 0;
    border-radius: 12px;
}

.selector-proyectos>h2{
    font-size: var(--titulo-size);
    font-weight: var(--titulo-weight);
    line-height: var(--titulo-ln);
    color: var(--gris-oscuro);
}

.selector-proyectos>.botonera{
    display: grid;
    grid-template-columns: auto repeat(2, 30%);
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 2rem;
}

.botonera>button{
    background-color: var(--fondo-componente);
    color: var(--gris-claro);
    font-size: var(--texto2-size);
    font-weight: var(--texto-weight);
    line-height: var(--texto-ln);
    border-radius: 12px;
    padding: 12px 16px;
    border: 2px solid var(--gris-clarito);
    width: 100%;
}

.botonera>.active{
    background-color: var(--azulito);
    color: var(--fondo);
    border-style: none;
}

@media screen and (min-width: 1200px) {
    main>.selector-proyectos{
        width: 60%;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        border-radius: 12px;
        float: right; 
        margin-top: 1rem;
    }

    .selector-proyectos>.botonera{
        width: 50%;
        margin-bottom: 16px;
    }
    
}