@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('variables.css');
@import url('header.css');
@import url('skills.css');
@import url('selector-proyectos.css');
@import url('proyectos.css');
@import url('experiencia.css');
@import url('certificados.css');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
} 

body{
    background-color: var(--fondo);
    padding: 16px;
}

.sliderAnterior, .sliderSiguiente {
    cursor: pointer;
    position: absolute;
    top: 50%; 
    width: auto;
    margin-top: -22px;
    padding: 24px 18px;
    color: var(--azulito);
    font-weight: bold;
    font-size: 36px;
    transition: 0.6s ease;
    user-select: none;
    border: none;
    background-color: transparent;
}

.sliderSiguiente {
    right: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.desaparecerSpinner{
    display: none;
}

#spinner{
    width: 100%;
    height: 90px;
}

.lds-ellipsis {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    width: 80px;
    height: 100px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--azulito);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


@media screen and (min-width: 1200px) {
    .sliderAnterior, .sliderSiguiente{
        display: none;
    }

    #spinner{
        width: 100%;
        min-height: 90vh;
    }

}