main>.certificados{
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-componente);
    padding: 16px;
    border-radius: 12px;
}

.certificados>h2{
    font-size: var(--titulo-size);
    font-weight: var(--titulo-weight);
    line-height: var(--titulo-ln);
    color: var(--gris-oscuro);
}

[class^="certificado-"]{
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    border-radius: 12px;
}

[class^="certificado-"]>img{
    margin-bottom: 16px;
}

[class^="certificado-"]>h3{
    font-size: var(--titulo2-size);
    font-weight: var(--titulo2-weight);
    line-height: var(--textit2-ln);
}

[class^="certificado-"]>span{
    font-size: var(--texto3-size);
    font-weight: var(--texto3-weight);
    line-height: var(--texto3-ln);
    color: var(--gris-clao);
}

[class^="certificado-"]>img{
    border-radius: 12px;
    border: 1px solid var(--gris-clarito);
}

.certificado-2, .certificado-3{
    display: none;
}

@media screen and (min-width: 1200px) {
    main>.certificados{
        width: 100%;
    }

    .certificados>.row{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    [class^="certificado-"]{
        width: 25%;
    }
    .certificado-2, .certificado-3{
        display: flex;
    }
}