@import url('variables.css');

main>.experiencias{
    padding: 16px;
    margin: 0.5rem 0;
    background-color: var(--fondo-componente);
    display: grid;
    grid-template-columns: auto;
    gap: 16px;
    border-radius: 12px;
}

.experiencias>h2{
    font-size: var(--titulo-size);
    font-weight: var(--titulo-weight);
    line-height: var(--titulo-ln);
    color: var(--gris-oscuro);
}

[class^="experiencia-"]{
    display: grid;
    gap: 16px;
    grid-template-columns: auto;
    border: 1px solid var(--gris-clarito);
    border-radius: 12px;
    padding: 8px;
}

[class^="experiencia-"]>h2{
    font-size: var(--titulo-size);
    font-weight: var(--titulo-weight);
    line-height: var(--titulo-ln);
}

[class^="experiencia-"]>.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-around;
    border-radius: 12px;
}

.row>.puesto{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.row>.puesto, .row>.descripcion{
    flex: 1;
}

.puesto>h3{
    font-size: var(--titulo2-size);
    font-weight: var(--texto-weight);
    line-height: var(--textit2-ln);
    align-self: baseline;
}

.puesto span{
    font-size: var(--texto3-size);
    font-weight: var(--texto3-weight);
    line-height: var((--texto3-ln));
    color: var(--gris-claro);
    align-self: baseline;
}

.puesto>img{
    margin: 0.3rem;
}


p{
    font-size: var(--texto2-size);
    font-weight: var(--texto2-weight);
    line-height: var(--textit2-ln);
    color: var(--gris-claro);
}


.experiencia-2, .experiencia-3{
    display: none;
}

@media screen and (min-width:1200px){
    

    [class^="experiencia-"]{
        grid-template-columns: 55%;
        justify-content: space-around;
    }

    [class^="experiencia-"]>.row{
        flex-direction: column;
    }

    .row>.puesto{
        flex-direction: row;
        margin: 10px 0;
    }

    .experiencias p{
        margin: 10px 0;
    }

    .experiencia-2, .experiencia-3{
        display: grid;
    }
}