@import url('variables.css');

main>.selector-proyectos{
    padding: 16px;
}

.selector-proyectos>.botonera{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 2rem;
}

.botonera>button{
    background-color: var(--fondo);
    color: var(--gris-claro);
    font-size: var(--texto-size);
    font-weight: var(--texto-weight);
    line-height: var(--texto-ln);
    border-radius: 12px;
    padding: 12px 16px;
    text-align: center;
    border: 2px solid var(--gris-clarito);
}

.botonera>button:active{
    background-color: var(--azulito);
    color: var(--fondo)
}